@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Animasi sliding text untuk label yang sangat panjang (mencegah layout shift) */
.max-w-text-table {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.hover-slide-text:hover {
  display: inline-block;
  animation: slideMarquee 7s linear infinite;
  text-overflow: clip;
  white-space: nowrap;
  padding-right: 20px;
}

@keyframes slideMarquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-35%);
  }
  100% {
    transform: translateX(0%);
  }
}
